doctype html
html
  head
    title=title
    link(rel='stylesheet', href='/css/style.css')
    script(src='//code.jquery.com/jquery-1.10.2.min.js')
    script(src='//code.jquery.com/ui/1.10.4/jquery-ui.min.js')
    script(src='vendor/jquery.form.min.js')
    link(href='//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.min.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Raleway:500', rel='stylesheet', type='text/css')
    block scripts
  body
  block content
