extends layout

block scripts
  script(src='//code.jquery.com/jquery-1.10.2.min.js')
  script(src='//code.jquery.com/ui/1.10.4/jquery-ui.min.js')
  script(src='/vendor/jquery.form.min.js')
  script(src='/js/views/reset.js')
  script(src='/js/controllers/resetcontroller.js')
  script(src='/js/form-validators/resetvalidator.js')
block content
  include modals/reset-password
